/* Base Styles */
html, body {
    color: #ffffffa6;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to top, #212529 0%, black 100%);
    background-size: 100% 100%;
    background-attachment: fixed;
    position: relative;
}

html {
    overscroll-behavior-x: none;
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    background-image: linear-gradient(to bottom, #212529 0%, black 100%);
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 10vh;
    /*-webkit-box-shadow: inset 0 2px 0 #fff, 0 5px 10px rgb(0, 0, 0);
        These two cause problems
    top: -2px !important;*/
}

.navbar > .container-fluid,
.navbar > .container-fluid > .navbar-brand,
.navbar > .container-fluid > .navbar-brand > img {
    height: calc(10vh - 40px);
    padding: 0;
    margin: 0;
}

.navbar-toggler,
.navbar-toggler:hover,
.navbar-toggler:focus {
    border: 0;
}

.navbar-toggler > .bi-list {
    color: white;
    font-size: 24pt;
}

.navbar-nav {
    padding: 0!important;
}

.offcanvas-title {
    text-align: left;
    color: #fffee6;
    font-size: 24pt;
}

.offcanvas {
    background-image: linear-gradient(to bottom, #212529 75%, black 100%);
}

/* Base styles */

p {
    font-size: 12pt;
    padding-left: 10px;
    padding-right: 10px;
}

.main-content {
    min-height: 90vh;
}

.row { /* Bootstrap pushes margin to -12px for some reason */
    margin-left: 0;
    margin-right: 0;
}

/* Footer */
footer {
    background-color: #121212;
    border-top: 5px solid #353535;
    position: relative;
}

.footer-contain {
    padding: 0;
}

.footer-contain .row {
    width: 100%;
}

.footer-text {
    color: #fffee6;
    text-decoration: 0;
}

.footer-text-large {
    font-size: 18pt;
}

.footer-link {
    color: #ffffffa6;
    text-decoration: none;
    margin: 5px;
}

.footer-link:hover {
    color: #ffffffcc;
}

.footer-text.justify-content-start,
.footer-text.justify-content-end {
    padding-left: 6px;
    padding-right: 6px;
}