/* Base Styles */
html, body {
    min-height: 100vh;
    width: 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
    position: relative;
    /* Custom Font */
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

[data-bs-theme="light"] body {
    color: black;
    background: linear-gradient(to top, #d8e0e9 0%, white 100%);
}

[data-bs-theme="dark"] body {
    color: #ffffffa6;
    background: linear-gradient(to top, #212529 0%, black 100%);
}

html {
    overscroll-behavior-x: none;
    overflow-x: hidden;
    text-align: justify;
}

/* Navbar */
[data-bs-theme="light"] .navbar {
    background-image: linear-gradient(to bottom, #d8e0e9 0%, white 100%);
}

[data-bs-theme="dark"] .navbar {
    background-image: linear-gradient(to bottom, #212529 0%, black 100%);
}

.navbar {
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 95px;
}

.navbar > .container-fluid,
.navbar > .container-fluid > .navbar-brand,
.navbar > .container-fluid > .navbar-brand > img {
    height: 55px;
    padding: 0;
    margin: 0;
}

#featureSearchInfo {
    font-size: 8pt;
    text-align: center;
}

.navbar-settings,
.navbar-toggler,
.navbar-toggler:hover,
.navbar-toggler:focus {
    border: 0;
    margin-left: 5px!important;
    margin-right: 5px!important;
}

[data-bs-theme="light"] .navbar-settings,
[data-bs-theme="light"] .navbar-toggler > .bi-list {
    color: black;
}

[data-bs-theme="dark"] .navbar-settings,
[data-bs-theme="dark"] .navbar-toggler > .bi-list {
    color: white;
}

.navbar-settings,
.navbar-toggler > .bi-list {
    font-size: 24pt;
}

.navbar-nav {
    padding: 0!important;
}

.offcanvas-title {
    text-align: left;
    font-size: 24pt;
}

[data-bs-theme="light"] .offcanvas {
    background-image: linear-gradient(to bottom, #d8e0e9 0%, white 100%);
}

[data-bs-theme="dark"] .offcanvas {
    background-image: linear-gradient(to bottom, #212529 75%, black 100%);
}

.gear-rotate {
    display: inline-block;
    transform-box: fill-box;
    transform-origin: center;
}

.gear-rotate:hover::before {
    animation: gear-rotate 0.5s ease 0s forwards infinite;
}

@keyframes gear-rotate {
    0% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

/* Popovers */
.blue-outline,
.green-outline {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2pt;
    padding-bottom: 3pt;
    border: min(0.2vw, 0.2vh) solid;
    border-radius: 10pt;
}

.green-outline {
    border-color: green;
    background: rgba(0, 128, 0, 0.5);
}

.blue-outline {
    border-color: blue;
    background: rgba(0, 0, 255, 0.5);
}

.popover-header {
    line-height: 22pt;
}

.popover {
    border: min(0.2vw, 0.2vh) solid #3a3d40;
    border-radius: 15px;
}

/* Toasts */
.toast {
    text-align: left;
}

.div-box {
    display: inline-block;
    border-radius: 5px;
    width: 1em;
    height: 1em;
    margin-right: 5px;
}

.success {
    background: green;
}

.fail {
    background: red;
}

/* Base styles */
p {
    font-size: 14pt;
    padding-left: 10px;
    padding-right: 10px;
}

.p-text {
    font-size: 14pt;
    padding-left: 10px;
    padding-right: 10px;
    line-height: calc(1.75 * 14pt);
}

a abbr {
    cursor: pointer!important;
}

a:has(abbr) {
    text-decoration: underline dotted !important;
}

.main-content {
    margin-top: 95px;
    min-height: calc(100vh - 95px);
}

[data-bs-theme="light"] .project-desc {
    background: lightgray;
    border: min(0.2vw, 0.2vh) solid white;
}

[data-bs-theme="dark"] .project-desc {
    background: #141414;
    border: min(0.2vw, 0.2vh) solid #333333;
}

.project-desc {
    padding: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 20px;
}

.row { /* Bootstrap pushes margin to -12px for some reason */
    margin-left: 0;
    margin-right: 0;
}

.btn-stealth {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
}

/* Accordions */
[data-bs-theme="light"] .accordion-item {
    color: #212529 !important;
    background-color: #ced4da;
}

[data-bs-theme="dark"] .accordion-item {
    color: #dee2e6 !important;
    background-color: #212529;
}

.accordion-item {
    border: min(0.2vw, 0.2vh) gray solid;
    text-align: left;
    margin-bottom: 0!important;
}

[data-bs-theme="light"] .accordion-button {
    color: #212529 !important;
    background-color: #ced4da;
}

[data-bs-theme="dark"] .accordion-button {
    color: #dee2e6 !important;
    background-color: #212529;
}

[data-bs-theme="light"] .accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

[data-bs-theme="dark"] .accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

[data-bs-theme="light"] .accordion-button:not(.collapsed) {
    color: #ced4da !important;
    background-color: #212529;
}

[data-bs-theme="dark"] .accordion-button:not(.collapsed) {
    color: #212529 !important;
    background-color: #dee2e6;
}

[data-bs-theme="light"] .accordion-button:not(.collapsed):after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

[data-bs-theme="dark"] .accordion-button:not(.collapsed):after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

[data-bs-theme="light"] .accordion-button:focus {
    box-shadow: none;
}

[data-bs-theme="dark"] .accordion-button:focus {
    box-shadow: none;
}

[data-bs-theme="light"] .accordion-button:hover {
    box-shadow: 0 0 0 0.25rem rgba(225, 225, 225, 0.7);
}

[data-bs-theme="dark"] .accordion-button:hover {
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.7);
}

[data-bs-theme="light"] .accordion-button:hover:not(.collapsed) {
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.7);
}

[data-bs-theme="dark"] .accordion-button:hover:not(.collapsed) {
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.7);
}

[data-bs-theme="light"] .accordion-body {
    background-color: #ced4da;
}

.accordion-body img {
    height: 24pt;
}

/* Force accordions inline with sitewide styles */
.accordion {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 20px;
    border-width: min(0.2vw, 0.2vh) !important;
}

.accordion-item:first-of-type {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: calc(20px - 0.2vw) !important;
    border-top-right-radius: calc(20px - 0.2vw) !important;
}

.accordion-item:last-of-type {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.accordion-item:last-of-type .accordion-button {
    border-bottom-left-radius: calc(20px - 0.2vw) !important;
    border-bottom-right-radius: calc(20px - 0.2vw) !important;
}

/* Footer */
[data-bs-theme="light"] footer {
    background-color: #ededed;
    border-top: min(0.2vw, 0.2vh) solid #cacaca;
}

[data-bs-theme="dark"] footer {
    background-color: #121212;
    border-top: min(0.2vw, 0.2vh) solid #353535;
}

footer {
    position: relative;
}

.footer-contain {
    padding: 0;
}

.footer-contain .row {
    width: 100%;
}

.footer-text {
    text-decoration: 0;
}

.footer-text-large {
    font-size: 18pt;
}

[data-bs-theme="light"] .footer-link {
    color: #000000a6;
}

[data-bs-theme="dark"] .footer-link {
    color: #ffffffa6;
}

.footer-link {
    text-decoration: none;
    margin: 5px;
}

[data-bs-theme="light"] .footer-link:hover {
    color: #000000cc;
}

[data-bs-theme="dark"] .footer-link:hover {
    color: #ffffffcc;
}

.footer-text.justify-content-start,
.footer-text.justify-content-end {
    padding-left: 6px;
    padding-right: 6px;
}
