/* Base Styles */
html, body {
    min-height: 100vh;
    width: 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
    position: relative;
    /* Custom Font */
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
}

[data-bs-theme="light"] body {
    color: #00010f;
    background: linear-gradient(to top, #d8e0e9 0%, white 100%);
}

[data-bs-theme="dark"] body {
    color: #fffef0;
    background: linear-gradient(to top, #212529 0%, black 100%);
}

html {
    overscroll-behavior-x: none;
    overflow-x: hidden;
    text-align: justify;
}

/* Navbar */
[data-bs-theme="light"] .navbar {
    background-image: linear-gradient(to bottom, #d8e0e9 0%, white 100%);
}

[data-bs-theme="dark"] .navbar {
    background-image: linear-gradient(to bottom, #212529 0%, black 100%);
}

.navbar {
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 95px;
}

.navbar > .container-fluid,
.navbar > .container-fluid > .navbar-brand,
.navbar > .container-fluid > .navbar-brand > img {
    height: 55px;
    padding: 0;
    margin: 0;
}

#featureSearchInfo {
    font-size: 8pt;
    text-align: center;
}

.navbar-settings,
.navbar-toggler,
.navbar-toggler:hover,
.navbar-toggler:focus {
    border: 0;
    margin-left: 5px!important;
    margin-right: 5px!important;
}

[data-bs-theme="light"] .navbar-settings,
[data-bs-theme="light"] .navbar-toggler > .bi-list {
    color: black;
}

[data-bs-theme="dark"] .navbar-settings,
[data-bs-theme="dark"] .navbar-toggler > .bi-list {
    color: white;
}

.navbar-settings,
.navbar-toggler > .bi-list {
    font-size: 24pt;
}

.navbar-nav {
    padding: 0!important;
}

.gear-rotate {
    display: inline-block;
    transform-box: fill-box;
    transform-origin: center;
}

.gear-rotate:hover::before {
    animation: gear-rotate 0.5s ease 0s forwards infinite;
}

@keyframes gear-rotate {
    0% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

/* Offcanvas */

[data-bs-theme="light"][data-s4-transparency="on"] .offcanvas {
    background: linear-gradient(to bottom, #d8e0e9BF 0%, #FFFFFFBF 100%);
    backdrop-filter: blur(2px);
}

[data-bs-theme="light"][data-s4-transparency="reduce"] .offcanvas {
    background: linear-gradient(to bottom, #d8e0e9 0%, #FFFFFF 100%);
}

[data-bs-theme="dark"][data-s4-transparency="on"] .offcanvas {
    background: linear-gradient(to bottom, #212529BF 0%, #000000BF 100%);
    backdrop-filter: blur(2px);
}

[data-bs-theme="dark"][data-s4-transparency="reduce"] .offcanvas {
    background: linear-gradient(to bottom, #212529 0%, #000000 100%);
}

.offcanvas {
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

.offcanvas-header {
    height: 95px;
}

.offcanvas-title {
    text-align: left;
    font-size: 24pt;
}

.offcanvas #projectSearch,
.offcanvas li a {
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 0.375rem;
    backdrop-filter: blur(2px);
}

.offcanvas #projectSearch {
    background: none;
}

.offcanvas #projectSearch:focus {
    border-color: dodgerblue;
}

.offcanvas #projectSearch,
.navbar .navbar-toggler, 
.offcanvas .btn-close {
    box-shadow: none!important; /* Removes bootstrap default */
    cursor: pointer!important;
}

.offcanvas #projectSearch::placeholder {
    padding-top: 15px;
    padding-bottom: 15px;
}

.offcanvas li a {
    padding: 10px;
    margin: 5px;
}

/* Hover Dropdowns */

.hover-drop {
    text-align: left;
    display: inline-block;
}

.hover-drop hr {
    margin: 15px;
}

.hover-hidden {
    overflow: hidden;
    max-height: 0;
    max-width: 0;
    padding-top: 0px;
    opacity: 0;
    transition: max-height 0.5s ease, max-width 0.5s ease, padding-top 0.3s ease, opacity 0.3s ease;
}

.hover-drop:hover .hover-hidden {
    max-width: 400px;
    max-height: 200px;
    padding-top: 5px;
    opacity: 1;
}

.blue-outline,
.green-outline {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 1pt;
    padding-bottom: 2pt;
    border: min(max(0.2vw, 0.2vh), 0.25rem) solid;
    border-radius: 15px;
}

[data-bs-theme="light"] .green-outline {
    border-color: palegreen;
    background: rgba(0, 200, 0, 0.5);
}

[data-bs-theme="dark"] .green-outline {
    border-color: green;
    background: rgba(0, 128, 0, 0.5);
}

[data-bs-theme="light"] .blue-outline {
    border-color: deepskyblue;
    background: rgba(0, 0, 255, 0.5);
}

[data-bs-theme="dark"] .blue-outline {
    border-color: blue;
    background: rgba(50, 50, 255, 0.5);
}

/* Toasts */
[data-bs-theme="light"][data-s4-transparency="on"] .toast {
    background: linear-gradient(to bottom, #d8e0e9BF 0%, #FFFFFFBF 100%);
    backdrop-filter: blur(2px);
}

[data-bs-theme="light"][data-s4-transparency="reduce"] .toast {
    background: linear-gradient(to bottom, #d8e0e9 0%, #FFFFFF 100%);
}

[data-bs-theme="dark"][data-s4-transparency="on"] .toast {
    background: linear-gradient(to bottom, #212529BF 0%, #000000BF 100%);
    backdrop-filter: blur(2px);
}


[data-bs-theme="dark"][data-s4-transparency="reduce"] .toast {
    background: linear-gradient(to bottom, #212529 0%, #000000 100%);
}


.toast {
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 0.375rem;
    text-align: left;
}

.toast-header {
    background: none;
}

.div-box {
    display: inline-block;
    border-radius: 5px;
    width: 1em;
    height: 1em;
    margin-right: 5px;
    font-size: 12pt;
}

.success {
    background: green;
}

.warn {
    background: #ffc107;
}

.fail {
    background: red;
}

/* Base styles */

.main-content {
    margin-top: 95px;
    min-height: calc(100vh - 95px);
}

/* .project-desc also used in about page */
[data-bs-theme="light"][data-s4-transparency="on"] .project-desc {
    background: #D3D3D3BF;
    backdrop-filter: blur(2px);
}

[data-bs-theme="light"][data-s4-transparency="reduce"] .project-desc {
    background: #D3D3D3;
}

[data-bs-theme="dark"][data-s4-transparency="on"] .project-desc {
    background: #141414BF;
    backdrop-filter: blur(2px);
}

[data-bs-theme="dark"][data-s4-transparency="reduce"] .project-desc {
    background: #141414;
}

.project-desc {
    border: min(max(0.2vw, 0.2vh), 0.25rem) solid #808080;
    padding: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 20px;
}

/* Styles for links */

a:hover,
.link-out:hover span {
    text-decoration: none!important;
}

a .bi-box-arrow-up-right,
li .bi-box-arrow-up-right {
    font-size: 0.75em;
    vertical-align: 0.15em;
}

.link-out {
    text-decoration: none;
}

.link-out span {
    text-decoration: underline;
}

.row { /* Bootstrap pushes margin to -12px for some reason */
    margin-left: 0;
    margin-right: 0;
}

.btn-stealth {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
}

/* Accordions */

[data-bs-theme="light"][data-s4-transparency="on"] .accordion-item {
    color: #212529 !important;
    background: linear-gradient(to bottom, #d8e0e9BF 0%, #FFFFFFBF 100%);
    backdrop-filter: blur(2px);
}

[data-bs-theme="light"][data-s4-transparency="reduce"] .accordion-item {
    color: #212529 !important;
    background: linear-gradient(to bottom, #d8e0e9 0%, #FFFFFF 100%);
}


[data-bs-theme="dark"][data-s4-transparency="on"] .accordion-item {
    color: #dee2e6 !important;
    background: linear-gradient(to bottom, #212529BF 0%, #000000BF 100%);
    backdrop-filter: blur(2px);
}

[data-bs-theme="dark"][data-s4-transparency="reduce"] .accordion-item {
    color: #dee2e6 !important;
    background: linear-gradient(to bottom, #212529 0%, #000000 100%);
}

.accordion-item {
    border: min(max(0.2vw, 0.2vh), 0.25rem)gray solid;
    text-align: left;
    margin-bottom: 0 !important;
}

[data-bs-theme="light"][data-s4-transparency="on"] .accordion-button {
    color: #212529 !important;
    background-color: #ced4daBF;
    backdrop-filter: blur(2px);
}

[data-bs-theme="light"][data-s4-transparency="reduce"] .accordion-button {
    color: #212529 !important;
    background-color: #ced4da;
}

[data-bs-theme="dark"][data-s4-transparency="on"] .accordion-button {
    color: #dee2e6 !important;
    background-color: #212529BF;
    backdrop-filter: blur(2px);
}

[data-bs-theme="dark"][data-s4-transparency="reduce"] .accordion-button {
    color: #dee2e6 !important;
    background-color: #212529;
}

[data-bs-theme="light"] .accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

[data-bs-theme="dark"] .accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

[data-bs-theme="light"] .accordion-button:not(.collapsed) {
    color: #ced4da !important;
    background-color: #212529BF;
}

[data-bs-theme="dark"] .accordion-button:not(.collapsed) {
    color: #212529 !important;
    background-color: #dee2e6BF;
}

[data-bs-theme="light"] .accordion-button:not(.collapsed):after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

[data-bs-theme="dark"] .accordion-button:not(.collapsed):after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

[data-bs-theme="light"] .accordion-button:focus {
    box-shadow: none;
}

[data-bs-theme="dark"] .accordion-button:focus {
    box-shadow: none;
}

[data-bs-theme="light"] .accordion-button:hover {
    box-shadow: 0 0 0 0.25rem rgba(225, 225, 225, 0.7);
}

[data-bs-theme="dark"] .accordion-button:hover {
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.7);
}

[data-bs-theme="light"] .accordion-button:hover:not(.collapsed) {
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.7);
}

[data-bs-theme="dark"] .accordion-button:hover:not(.collapsed) {
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.7);
}

.accordion-body img {
    height: 24pt;
}

/* Force accordions inline with sitewide styles */
.accordion {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 20px;
    border-width: min(0.2vw, 0.2vh) !important;
}

.accordion-item:first-of-type {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: calc(20px - 0.2vw) !important;
    border-top-right-radius: calc(20px - 0.2vw) !important;
}

.accordion-item:last-of-type {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.accordion-item:last-of-type .accordion-button {
    border-bottom-left-radius: calc(20px - 0.2vw) !important;
    border-bottom-right-radius: calc(20px - 0.2vw) !important;
}

/* Modals */

[data-bs-theme="light"][data-s4-transparency="on"] .modal-content {
    background: linear-gradient(to bottom, #d8e0e9BF 0%, #FFFFFFBF 100%);
    backdrop-filter: blur(2px);
}

[data-bs-theme="light"][data-s4-transparency="reduce"] .modal-content {
    background: linear-gradient(to bottom, #d8e0e9 0%, #FFFFFF 100%);
}

[data-bs-theme="dark"][data-s4-transparency="on"] .modal-content {
    background: linear-gradient(to bottom, #212529BF 0%, #000000BF 100%);
    backdrop-filter: blur(2px);
}
[data-bs-theme="dark"][data-s4-transparency="reduce"] .modal-content {
    background: linear-gradient(to bottom, #212529 0%, #000000 100%);
}

.modal-content {
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 0.375rem;
}

/* Footer */
[data-bs-theme="light"] footer {
    background-color: #ededed;
    border-top: min(0.2vw, 0.2vh) solid #cacaca;
}

[data-bs-theme="dark"] footer {
    background-color: #121212;
    border-top: min(0.2vw, 0.2vh) solid #353535;
}

footer {
    position: relative;
}

.footer-contain {
    padding: 0;
}

.footer-contain .row {
    width: 100%;
}

.footer-text {
    text-decoration: 0;
}

.footer-text-large {
    font-size: 18pt;
}

[data-bs-theme="light"] .footer-link {
    color: #000000a6;
}

[data-bs-theme="dark"] .footer-link {
    color: #ffffffa6;
}

.footer-link {
    text-decoration: none;
    margin: 5px;
}

[data-bs-theme="light"] .footer-link:hover {
    color: #000000cc;
}

[data-bs-theme="dark"] .footer-link:hover {
    color: #ffffffcc;
}

.footer-text.justify-content-start,
.footer-text.justify-content-end {
    padding-left: 6px;
    padding-right: 6px;
}