.highlight-anim {
    animation: grow 0.75s alternate 2;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    90% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.5);
    }
}

.wide-dropdown {
    max-width: 100vw;
    width: 20vw;
}