[data-bs-theme="light"] .feature-carousel {
    border: 0.2vw solid black;
}

[data-bs-theme="dark"] .feature-carousel {
    border: 0.2vw solid white;  
}

.feature-carousel {
    border-radius: 1vw;
    padding: 0;
    overflow: hidden;
    aspect-ratio: 16/9;
}

@media (max-width: 1199px) {
    .feature-carousel {
        margin: 1vw;
    }
}

.feature-carousel .carousel-caption {
    background: #000000ad;
    border-radius: 10px;
}

.accordion-body ul {
    margin-bottom: 0;
}