################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Showcase/FileContentIndex
/.vs/Showcase/v17
/.vs/Showcase/config
/.vs
